# Visual Studio files
.vs/
*.suo
*.user
*.userprefs
*.log
*.bak
*.cache
*.ncb
*.opendb
*.pdb
*.obj
*.sbr
*.tlog
*.trx

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
*.dll
*.exe
*.ilk
*.lib
*.exp
*.winmd
*.appx
*.appxbundle
*.appxsym
*.msi
*.msp
*.pfx
*.snk
*.vmdk
*.vhd
*.vhdx
*.psmdcp

# Packages
packages/
*.nupkg
*.snk

# Rider/ReSharper files
.idea/
*.DotSettings
*.user

# Other common files
Thumbs.db
Desktop.ini
.DS_Store